/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Mohammad Anim Rahman                    */

html {
    background-color: white;
    color: #010101;
    font-family: Times New Roman;
	font-size: 21px; 
	width: 1350px;
	
	
}

.header{
	text-align: center;
	color: #056279;
	font-family: Luminari, fantasy;
	height: 150px;
	background-color: white;
	margin-left: -9px;
	margin-right: -9px;
	margin-top: -27px;
	margin-bottom: -40px;
	font-weight: bold;
}
.para{
	color:#A94324;
}

.image {	

	background-image: url("https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 500px;
	margin: -10px;

	
}

ul {
    list-style-type: none;
    margin-left:30px;
    padding: 0px;

}

ul li {
    float: left;
	width: 182px;
	height: 40px;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	background-color: white;
	margin-bottom: 2px;
	font-size: 20px;
	
}

 ul li a {
    display: block;
    color: black;	
	
}
 ul li a:hover {
    background-color: green;
}
ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}



.searchbar input[type=text]{
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 200px;
  border: none;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 1000px;
  vertical-align: -200px;
  
}
.searchbar2 input[type=text]{
	padding: 5px;
	font-size: 17px;
	margin-right: 0px;
	height: 30px;
	width: 1000px;
	text-align:center;
	margin-left: 200px;
	
	
	
}	

/*.VerticalNav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
	   
}

.VerticalNav a {
    display: block;
    padding:10px;
    text-decoration: none;
	background-color:#eee;
	color: black;
	border: solid;
	font-size: 13px;
	border-width: 1px;
	position: relative;
	top: 900px;
}*/



.job {
    width: 300px;
    padding: 5px;
	position: relative;
	top: 30px;
	left: 10px;
	font-weight: bold;
	text-align: center;
	float: left;
	height: 300px;
}
.jobtitle {
    text-decoration: black underline;
	font-weight: bold;
	font-style: italic;
	color:#131971;
	padding: 5px;
	font-size: 18px;
}
.company {
	font-size: 15px;
	color: green;
	padding: 5px;
}
.location {
	color :#AF2FA2;
	padding: 5px;
}

.description {
	font-size: 15px;
	color: #010101;
	font-weight: bold;
	padding: 5px;

} 
.hot {
	color: #B71C1C;
	padding: 0;
	margin: 0;
	font-size: 30px;
	position : relative;
	top: .05px;	
	
}

.column {
	color : #093642;	
	font-size: 15px;
	position: relative;
	top: 1px;
	float: left;
	padding-left: 100px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;

	
	
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
	text-align:center;
	padding: 1px;
	color: white;
	font-family: Marker Felt, fantasy;
	background-color: black;
	margin-left: -10px;
	
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}